<footer class="hidden-print" id="siteFooter">

    <div id="footerNavContainer" class="container">
        <div class="footer-main-content row">
            <div class="col-sm-3 col-md-3 footer-logo-container">
                <img class="footer-logo img-responsive" src="/images/header-logo.png" alt="Stir Trek logo">
            </div>
            <div class="col-sm-9 col-md-5">
                <article class="no-margin-bottom">
                    <div class="footer-links-container font-ui">
                        <p style="margin-top:0;">
                            <strong>Let's Get Connected.</strong>
                            <br>
                            <a href="mailto:info@stirtrek.com?subject=[Stir%20Trek]%20Question%20ref:site" aria-label="Link to send Stir Trek an email">
                                <i class="fa-solid fa-envelope" style="margin-right:6px;"></i>info@stirtrek.com
                            </a>
                        </p>

                        <div id="footerSocialMediaIcons">
                            <div class="footer-social-icon-container">
                                <a href="https://www.linkedin.com/company/stir-trek-conference-inc./" target="_blank" aria-label="Link to Stir Trek's LinkedIn page">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                                &nbsp;
                                <a href="https://bsky.app/profile/stirtrek.com" target="_blank" aria-label="Link to Stir Trek's Bluesky page">
                                    <i class="fa-brands fa-bluesky"></i>
                                </a>
                            </div>
                        </div>

                        <p style="font-size: 0.85rem; opacity: 0.7;">
                            Thank you to <a href="https://nate-lovett.com/">Nate Lovett</a> for our great art.
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-xs-12 col-md-4 footer-links-col">
                <a href="/info/codeofconduct/" class="font-ui" style="font-size: 0.9rem;">Code of Conduct</a>
                <br>
                <a href="/info/privacy/" class="font-ui" style="font-size: 0.9rem;">Privacy Policy</a>
                <br>
                <a href="mailto:sponsors@stirtrek.com" class="font-ui" style="font-size: 0.85rem; opacity: 0.7;">
                    Sponsorships: sponsors@stirtrek.com
                </a>
            </div>
        </div>
    </div>

    <div id="footerCredits">
        <div class="container clearfix small" style="text-align: center;">
            <span>
                &copy; <%= new Date().getFullYear() %> Stir Trek Conference.
            </span>
            <span style="margin-left: 8px;">
                Made with <i class="fa-solid fa-heart footer-heart"></i> in Columbus
            </span>
        </div>
    </div>
</footer>