<footer class="hidden-print" id="siteFooter">

        <div id="footerNavContainer" class="container">

            <div class="footer-main-content row">
                <div class="col-md-3 footer-logo-container">
                    <img class="footer-logo img-responsive" src="/images/header-logo.png">
                </div>
                <div class="col-xs-9 col-md-9">
                    <article class="no-margin-bottom">
                        <div class="footer-links-container">
                            <p>
                                <strong>
                                    <em>LET'S GET CONNECTED.</em>
                                </strong>
                                <br> email us:
                                <a href="mailto:info@stirtrek.com?subject=[Stir%20Trek]%20Question%20ref:site">info@stirtrek.com</a>
                            </p>

                            <p id="footerSocialMediaIcons">
                                social us: &nbsp;&nbsp;
                                <a href="http://www.facebook.com/StirTrek" target="_blank" class="btn btn-social-icon btn-facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="http://www.twitter.com/StirTrek" target="_blank" class="btn btn-social-icon btn-twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </p>

                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div id="footerCredits">
            <div class="container clearfix text-muted small">
                <div class="pull-left">
                    <span>
                        All Rights Reserved. Copyright 2018 Stir Trek Conference.
                        <br> Site Designed by
                        <a href="http://driftingcreatives.com/">Drift</a> in Texas.
                    </span>
                </div>

            </div>
        </div>
    </footer>