<div id="home-page" class="body-content" role="main">

    <%- page.content %>

    <% if (page.source == 'index.md') { %>
    <%- partial('sponsorsBrief') %>
    <% } else if (page.source == 'Sponsors/index.md') { %>
    <%- partial('sponsorsFull') %>
    <% } %>


</div>