<!DOCTYPE html>
<html>

    <%- partial('head') %>
    
    <body>
        <div class="bodyWrapper">
            <%- partial('menu') %>

            <!--<div id="container">

                <%- body %>
            </div>-->

            Hi!

            <%- partial('footer') %>
        </div>
    </body>
</html>