<!DOCTYPE html>
<html lang="en">

    <%- partial('head') %>
    
    <body>

        <% if (page.source == 'index.md') { %>
        <div class="bodyWrapper" id="home-page">
        <% } else { %>
        <div class="bodyWrapper">
        <% } %>

            <%- partial('menu') %>

            <div class="container">

                <%- body %>
            </div>

            <%- partial('footer') %>
        </div>
    </body>
</html>