<div class="mainNav">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="https://stirtrek.com/">

                        <img id="navHeaderImage" src="/images/header-logo.png">
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">
                            Toggle navigation
                        </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right" id="navBarLinkContainer">

                        <li>
                            <a href="https://stirtrek.com/Account/Login">Sign In</a>
                        </li>



                        <li class="dropdown">
                            <a href="https://stirtrek.com/#" class="dropdown-toggle" data-toggle="dropdown">Schedule
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">

                                <li>
                                    <a href="https://stirtrek.com/Schedule">Full Session Lineup</a>
                                </li>

                            </ul>
                        </li>

                        <li>
                            <a href="https://stirtrek.com/Speakers">Speakers</a>
                        </li>

                        <li class="dropdown">
                            <a href="https://stirtrek.com/#" class="dropdown-toggle" data-toggle="dropdown">
                                Sponsors
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">

                                <li>
                                    <a href="https://stirtrek.com/Sponsors">2018 Sponsors</a>
                                </li>
                                <li>
                                    <a href="https://stirtrek.com/Sponsorship">Sponsorship Info</a>
                                </li>



                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="https://stirtrek.com/#" class="dropdown-toggle" data-toggle="dropdown">
                                Plan
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">

                                <li>
                                    <a href="https://stirtrek.com/Resources/ImportantDates">Important Dates</a>
                                </li>
                                <li>
                                    <a href="https://stirtrek.com/Resources/Travel">Travel Information</a>
                                </li>
                                <li>
                                    <a href="https://stirtrek.com/Home/FAQ">Frequently Asked Questions</a>
                                </li>
                                <li>
                                    <a href="https://stirtrek.com/Resources/AttendeeHandbook">Attendee Handbook</a>
                                </li>

                                <li></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="https://stirtrek.com/#" class="dropdown-toggle" data-toggle="dropdown">
                                Info
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="https://medium.com/@stirtrek">Blog</a>
                                </li>
                                <li>
                                    <a href="https://stirtrek.com/Home/Contact">Contact Us</a>
                                </li>
                                <li>
                                    <a href="https://stirtrek.com/Slack">Slack</a>
                                </li>

                                <li>
                                    <a href="https://stirtrek.com/Home/CodeOfConduct">Code of Conduct</a>
                                </li>
                                <li>
                                    <a href="https://stirtrek.com/Home/CommitmentToDiversity">Commitment to Diversity</a>
                                </li>
                                <li>
                                    <a href="https://stirtrek.com/Home/AntiHarassmentPolicy">Anti-Harassment Policy</a>
                                </li>
                                <li>
                                    <a href="https://stirtrek.com/Home/Privacy">Privacy Policy</a>
                                </li>

                            </ul>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>